<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Pescando Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='prettify.css') }}" />
</head>
<body>
    <h2>API para Plataforma Pescando Datos</h2>

    <h3>Endpoints</h3>

    <ul>
        <li><a href="/api/permiso">/api/permiso</a></li>
        <li><a href="/api/activo">/api/activo</a></li>
        <li><a href="/api/unidad_economica">/api/unidad_economica</a></li>
        <li><a href="/api/embarcacion">/api/embarcacion </a></li>
    </ul>
</body>
</html>
